<nav>

  <div class="nav-wrapper">

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/login']" class="">{{title}}</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/test']" *ngIf="auth.authenticated()">Test/LagerCom</a>
      </li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/explorer']" *ngIf="auth.authenticated()">Inventar</a>
      </li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/calendar']" *ngIf="auth.authenticated()">Calendar</a>
      </li>
    </ul>

    <ul id="nav-mobile2" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/account']" *ngIf="auth.authenticated()">Profile</a>
      </li>

      <div class="valign-wrapper" style="  display: flex;">
        <li><a style="background-color: green" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In
        </a>
          <a style="background-color: red" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out
          </a></li>
      </div>
    </ul>
  </div>
</nav>

<!--div *ngIf="!auth.authenticated()"></div-->

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- footer>
  <div class="navbar fixed-bottom navbar-light bg-faded">
    <a href="https://github.com/kongSugar/sfman-webui">Follow me on GitHub <i class="fa fa-github"
                                                                              aria-hidden="true"></i></a>

  </div>
</footer-->
