<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: mediumspringgreen;max-height: 40px;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <!--TODO bootstrap bug? collapse funktioniert nicht -> dh der menübutton auf mobilgeräten-->
  <!--div class="collapse navbar-collapse" id="navbarTogglerDemo02"-->
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/home']">Home <span
      class="sr-only">(current)</span></a></li>
    <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/account']">Account</a></li>
    <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/test']">Test/LagerCom</a></li>
    <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/explorer']">Inventar</a></li>
    <li [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/calendar']">Calendar</a></li>

    <!--li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li-->
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form-->
  <div class="pull-right">

    <button class="btn btn-success btn-margin btn-sm" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In
    </button>
    <button class="btn btn-danger btn-margin btn-sm" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out
    </button>

  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="navbar fixed-bottom navbar-light bg-faded">
    <a href="https://github.com/kongSugar/sfman-webui">Follow me on GitHub <i class="fa fa-github"
                                                                              aria-hidden="true"></i></a>

  </div>
</footer>
