<p-dataTable [value]="items" sortMode="single" reorderableColumns="true" [globalFilter]="gb" scrollable="true"
             [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,50,100]"
             selectionMode="single"
             [(selection)]="selectedItems" (onRowSelect)="onRowSelect($event)" columnResizeMode="expand">
  <!--p-header [style]="{'width': '100%'}">
    <div class="ui-helper-clearfix">
      Big Items Table
    </div>
  </p-header-->

  <p-column [style]="{'width':'40px','align':'centered'}" selectionMode="multiple"></p-column>

  <p-column field="_id" header="ID" [sortable]="true" [style]="{'width': '15%'}"></p-column>
  <p-column field="name" header="Name" [sortable]="true" [style]="{'width': '10%'}"></p-column>
  <p-column field="department" header="Department" [sortable]="true" [style]="{'width': '10%'}"></p-column>
  <p-column field="description" header="Description" [sortable]="true" [style]="{'width': '15%'}"></p-column>
  <p-column field="gross_price" header="Gross_price" [sortable]="true" [style]="{'width': '5%'}"></p-column>
  <p-column field="height_unit" header="Height_unit" [sortable]="true" [style]="{'width': '5%'}"></p-column>
  <p-column field="manufacturer" header="Manufacturer" [sortable]="true" [style]="{'width': '10%'}"></p-column>
  <p-column field="rent" header="Rent" [sortable]="true" [style]="{'width': '5%'}"></p-column>
  <p-column field="serialnumber" header="Serialnumber" [sortable]="true" [style]="{'width': '10%'}"></p-column>
  <p-column field="weight" header="Weight" [sortable]="true" [style]="{'width': '5%'}"></p-column>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </p-footer>
</p-dataTable>


<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="_id">ID</label></div>
      <div class="ui-grid-col-8"><input pInputText id="_id" [(ngModel)]="item._id"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="item.name"/></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
