<h2>Eigenproduktion</h2>

<!-- table class="responsive-table bordered highlight">
  <thead>
  <tr>
    <th>Hersteller</th>
    <th>Produkt</th>
    <th>Lager</th>
    <th>Preis</th>
    <th>Miete</th>
  </tr>
  </thead>


  <ul *ngFor="let item of items" class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">
        <tbody>
        <tr>
          <td>{{item.manufacturer}}</td>
          <td>{{item.name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.gross_price}}</td>
          <td>{{item.rent}}</td>
          <td>exp</td>
        </tr>
</tbody>
      </div>
      <div class="collapsible-body"><span>Lorem ipsum est</span></div>
    </li>

  </ul>
</table  -->

<h2>PrimeNG </h2>
<div class="ui-helper-clearfix" style="width:100%">
  <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
</div><br>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Filter">
</div>
<p-dataTable [value]="items" sortMode="single"
             [rows]="50" [paginator]="true" [rowsPerPageOptions]="[50,100,1000]"
             expandableRows="true" [globalFilter]="gb"
>

  <p-column [style]="{'align':'centered', 'width':'40px'}" selectionMode="multiple"></p-column>
  <p-column field="manufacturer" header="Hersteller" [sortable]="true"></p-column>
  <p-column field="name" header="Produkt" [sortable]="true"></p-column>
  <p-column field="department" header="Lager" [sortable]="true"></p-column>
  <p-column field="gross_price" header="Preis" [sortable]="true"></p-column>
  <p-column field="rent" header="Miete" [sortable]="true"></p-column>
  <p-column [style]="{'align':'centered', 'width':'40px'}" expander="true" styleClass="col-icon"></p-column>

  <ng-template let-item pTemplate="rowexpansion">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
      <div class="ui-grid-row">

        <div class="ui-grid-col-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">ID</div>
              <div class="ui-grid-col-8">{{item._id}}</div>
              <div class="ui-grid-col-2">
                <button type="button" pButton icon="fa-edit" style="float:left" (click)="showDialogToEdit(item)"
                        label="Edit"></button>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Hersteller</div>
              <div class="ui-grid-col-10">{{item.manufacturer}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Name</div>
              <div class="ui-grid-col-10">{{item.name}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Beschreibung</div>
              <div class="ui-grid-col-10">{{item.description}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Department</div>
              <div class="ui-grid-col-10">{{item.department}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Höhe</div>
              <div class="ui-grid-col-10">{{item.height_unit}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Gewicht</div>
              <div class="ui-grid-col-10">{{item.weight}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Seriennummer</div>
              <div class="ui-grid-col-10">{{item.serialnumber}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Gross</div>
              <div class="ui-grid-col-10">{{item.gross_price}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 ">Rent</div>
              <div class="ui-grid-col-10">{{item.rent}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataTable>


<p-dialog header="Produkt Details" [width]="400" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label>ID</label></div>
      <div class="ui-grid-col-8"><label>{{item._id}}</label></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="manufacturer">Hersteller</label></div>
      <div class="ui-grid-col-8"><input pInputText id="manufacturer" [(ngModel)]="item.manufacturer"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="item.name"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="description">Description</label></div>
      <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="item.description"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="department">Department</label></div>
      <div class="ui-grid-col-8"><input pInputText id="department" [(ngModel)]="item.department"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="height_unit">Höhe</label></div>
      <div class="ui-grid-col-8"><input pInputText id="height_unit" [(ngModel)]="item.height_unit"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="weight">Gewicht</label></div>
      <div class="ui-grid-col-8"><input pInputText id="weight" [(ngModel)]="item.weight"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="serialnumber">SN</label></div>
      <div class="ui-grid-col-8"><input pInputText id="serialnumber" [(ngModel)]="item.serialnumber"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="gross_price">GrossPrice</label></div>
      <div class="ui-grid-col-8"><input pInputText id="gross_price" [(ngModel)]="item.gross_price"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="rent">Rent</label></div>
      <div class="ui-grid-col-8"><input pInputText id="rent" [(ngModel)]="item.rent"/></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
